## Problem 71

Below is a snippet from a table that contains information about employees that work at Company XYZ: 

| employee_name	| employee_id	| date_joined	| age	| yrs_of_experience |
|---------------|---------------|---------------|-------|-------------------|
| Andy	| 123456	| 2015-02-15	| 45	| 24 |
| Beth	| 789456	| 2014-02-15	| 36	| 15 |
| Cindy	| 654123	| 2017-05-16	| 34	| 14 |
| Dale	| 963852	| 2018-01-15	| 25	| 4 |

Company XYZ is looking to create a report that tracks the tenure of its employees. Using Python, write a snippet to add a column with each individual's years of experience. You can assume the current date is January 1st, 2019. All records in the table are shown in YYYY-MM-DD format.

In [39]:
import pandas as pd
import datetime

dic = {'employee_name':['Andy', 'Beth', 'Cindy', 'Dale'], 
      'employee_id': [123456, 789456, 654123, 963852], 
      'date_joined':['2015-02-15', '2014-02-15', '2017-05-16', '2018-01-15'], 
      'age':[45, 36, 34, 25], 
      'yrs_of_experience':[24, 15, 14, 4]}

df_in = pd.DataFrame(dic)

now = datetime.datetime.now()
year = int(now.date().strftime("%Y"))

yrs_here = [year - int(y.split('-')[0]) for y in df_in['date_joined'].values]
df_in["yrs_here"] = yrs_here

df_in

  employee_name  employee_id date_joined  age  yrs_of_experience  yrs_here
0          Andy       123456  2015-02-15   45                 24         4
1          Beth       789456  2014-02-15   36                 15         5
2         Cindy       654123  2017-05-16   34                 14         2
3          Dale       963852  2018-01-15   25                  4         1

## Problem 63

Suppose you are given a dataset of [Baby names](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv). Using the dataset, you're tasked with figuring out the top boy and girl names in 2009.

Can you describe how you would do this using Python Pandas? The solution will be Python code which walks through the logic and calculation.

In [2]:
import pandas as pd
path = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

df = pd.read_csv(path)

In [20]:
year = 2009
timeframe = df.loc[df['Year']==year]
names_count = {}
m = 0
n = None
for i in range(len(timeframe)):
    name = timeframe["Name"].values[i]
    count = timeframe["Count"].values[i]
    
    if name not in names_count:
        names_count[name] = count
    else:
        names_count[name] += count
        
    if names_count[name] > m:
        m = names_count[name]
        n = name
        
print(n, m)

Isabella 22278